/* Created by Artisteer v4.1.0.59861 */

.ftc-header, #ftc-header-bg, .ftc-layout-cell, .ftc-layout-wrapper, .ftc-footer, .ftc-nav, #ftc-hmenu-bg, .ftc-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.ftc-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.ftc-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#ftc-header-bg 
{
   display: none;
}

.ftc-hmenu>li, .ftc-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.ftc-hmenu, ul.ftc-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#ftc-hmenu-bg 
{
   display: none;
}

ul.ftc-hmenu>li:first-child {
   padding-right:10px;
}
ul.ftc-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='ftc-hmenu-separator');
}
ul.ftc-hmenu>li>span.ftc-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -10px;
   width: 10px;
   height: 28px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.ftc-hmenu>li:first-child>span.ftc-hmenu-separator
{
   display:none;
}

ul.ftc-hmenu ul{
   background-color: #3D91D6 !important;
}

.ftc-content-layout, .ftc-content-layout-row, .ftc-layout-cell 
{
   display: block;
   zoom: 1;
}
.ftc-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.ftc-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.ftc-search div>input[type="text"]
{
   width: 100%;
}

* html form.ftc-search>input[type="text"] 
{
   margin :0;
}

.ftc-postmetadataheader{
   zoom:1;
}

.ftc-postheadericons span{
   zoom: 1;
}
.ftc-postcontent {
   height: 1%;
}

.ftc-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.ftc-sidebar2 
{
   width: auto;
   float:none;
}

