@model LolFightProjekat.Models.korisnici

@{
    ViewBag.Title = "AfterLogin";
}

@{
    ViewBag.Title = "AfterLogin";
}

<h2>After Login</h2>
@if (Session["LogedUserFullname"] != null)
{
    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>
}
