@{
    ViewBag.Title = "Home";
}



<ul class="nav nav-pills">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="Login">Login</a></li>
    <li><a href="Account/Register">Register</a></li>
    <li><a href="#">High Score</a></li>
</ul>