@{
    ViewBag.Title = "Rank";
}
<!DOCTYPE html>
<html ng-app="App" dir="ltr" lang="en-US">
<head>
    <script src="~/Scripts/CustomScripts/UiRouterCrtl.js"></script>
    <title></title>
</head>
<body>
    <div data-ng-controller="Rank">
        <ol>

        </ol>
    </div>

    <script>

        var App = angular.module('App', []);

        App.controller('Rank', function ($scope, $http) {
            $http.get('http://localhost:60138/api/rank/').success(function (data) {
                $scope.data = data;
            });

        });

    </script>
</body>
</html>