@model IEnumerable<LolFightProjekat.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="Admin/AddAdmin">View Admins</a></li>
    <li><a href="Admin/Create">Add Admins</a></li>
    <li><a href="AddItem">View Items</a></li>
    <li><a href="AddItem/Create">Add Items</a></li>
  
</ul>

