@model LolFightProjekat.Models.User
@{
    ViewBag.Title = "Confirm";
}


<!DOCTYPE html>

<html ng-app="chooseApp">
<head>
    <meta charset="utf-8">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>

    <script>

        var chooseChampApp = angular.module('chooseApp', []);
        chooseChampApp.controller('selectorCtrl', function ($scope, $http) {
            $http.get('../api/ChampionTypeAPI').success(function (data) {
                
                $scope.Champions = data;
                
            });

      });
    </script>

    <title>Choose champion</title>

</head>

<body>
    <h2> Wellcome @Html.DisplayFor(model => model.Username) </h2>

    Choose your champion wisely!!!

    <table ng-controller="selectorCtrl">
      
      <tr><th>Name</th>
          <th>Picture</th>
          <th>Stats</th></tr>
        <tr ng-repeat="champion in Champions" >

      <td> <a href="../ChampionType/method/{{champion.IdChampionType}}">{{champion.Name}} </a></td><td> <img src="{{champion.ImageLink}}" class="thumbnail" /> </td> <td>Nation: {{champion.Nation}}<br /> Atk dmg: {{champion.AttackDamage}}<br> Ability dmg: {{champion.AbilityDamage}} <br>Atk speed: {{champion.Attackspeed}} <br> Armor: {{champion.Armor}} <br> Magic resist: {{champion.MagicResist}} <br />Hp: {{champion.HP}}</td></tr>

       
    </table>

</body>



</html>
