
                                                        <div ng-controller="Login">

                                                            <br>

                                                            <form>
                                                                <table border="0">
                                                                    <tr><td>Username</td><td><input type="text" id="name" class="form-control" ng-model="login.name" /> </td></tr>
                                                                    <tr><td>Password</td><td><input type="password" class="form-control" id="pass" ng-model="login.pass" /></td></tr>
                                                                    <tr><td><button class="btn btn-default" ng-click="login.submitTheForm()">Prijavi</button></td> <td></td></tr>
                                                                </table>
                                                            </form>
                                                            <br />
                                                            <br />
                                                           

                                                        </div>
