<div ng-app="app">

    <div class="ftc-postmetadataheader">
        <h2 class="ftc-postheader">Home</h2>
    </div>

    <div class="ftc-postcontent ftc-postcontent-0 clearfix">
        <div class="ftc-content-layout">
            <div class="ftc-content-layout-row">
                <div class="ftc-layout-cell layout-item-0" style="width: 100%">

                    <div ng-controller="id">
                                              
                            <table ng-controller="GetItemsCtrl">
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Ad DMG</th>
                                    <th>Ap DMG</th>
                                    <th>HP</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="item in Items">
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Price}}</td>
                                    <td>{{item.AttackDamage}}</td>
                                    <td>{{item.AbilityDamage}}</td>
                                    <td>{{item.HP}}</td>
                                   
                                    <td><button class="btn btn-warning" ng-click="BuyItem(userid,item.IdItem)"> Buy</button> </td>
                                    
 

                                </tr>
                            </table>


                        </div>
                  




                </div>
            </div>
        </div>

    </div>


</div>