<html ng-app="app">
<head>
    <title>index</title>
    <script src="Scripts/angular.js"></script>
  
    <script src="~/Scripts/CustomScripts/UiRouterCrtl.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
</head>
<body>
    <div ng-controller="Login">

        <br>

        <form>
            <input type="text" id="name" class="form-control" ng-model="login.name" /> Username <br>
            <input type="password" class="form-control" id="pass" ng-model="login.pass" /> Password <br><br>
            <button class="btn btn-default" ng-click="login.submitTheForm()">Prijavi</button>
        </form>


    </div>
</body>
</html>
